# Analysing H1B Acceptance Trends

H1B visa is a nonimmigrant visa issued to gradute level workers which allows them to work in the United States. The employer sponsors the H1B visa for workers with theoretical or technical expertise in specialized fields such as in IT, finance, accounting etc. An interesting fact about immigrant workers is that about 52 percent of new Silicon valley companies were founded by such workers during 1995 and 2005. Some famous CEOs like Indira Nooyi (Pepsico), Elon Musk (Tesla), Sundar Pichai (Google),Satya Nadella (Microsoft) once arrived to the US on a H1B visa.

**Motivation**: Our team consists of five international gradute students, in the future we will be applying for H1B visa. The visa application process seems very long, complicated and uncertain. So we decided to understand this process and use Machine learning algorithms to predict the acceptance rate and trends of H1B visa.

## Data 
The data used in the project has been collected from <a href="https://www.foreignlaborcert.doleta.gov/performancedata.cfm">the Office of Foreign Labor Certification (OFLC).</a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
import pandas as pd
import numpy as np
import warnings
import nltk

## Exploratory Data Analysis

Before we begin working on our data we need to understand the traits of our data which we accomplish using EDA. We see that we have about 260 columns , not all 260 coulms have essential information that contributes to our analysis. Hence we pick out the columns such as case status( Accepted/ Denied) ,Employer, Job title etc.

In [ ]:
#Read the csv file and stored in file
#file=pd.read_csv('/content/gdrive/My Drive/H-1B_Disclosure_Data_FY2019.csv')
file=pd.read_excel('../data/H-1B_Disclosure_Data_FY2019.xlsx')

In [4]:
file.shape

(1048548, 260)

In [5]:
cleaned=file[['CASE_NUMBER','CASE_STATUS','CASE_SUBMITTED','DECISION_DATE','VISA_CLASS','JOB_TITLE','SOC_CODE','SOC_TITLE','EMPLOYER_NAME','WAGE_RATE_OF_PAY_FROM_1','WAGE_UNIT_OF_PAY_1']]
cleaned.head()

          CASE_NUMBER CASE_STATUS  ... WAGE_RATE_OF_PAY_FROM_1 WAGE_UNIT_OF_PAY_1
0  I-200-16092-327771   WITHDRAWN  ...             $179,000.00               Year
1  I-203-17188-450729   WITHDRAWN  ...             $110,000.00               Year
2  I-203-17229-572307   WITHDRAWN  ...             $275,000.00               Year
3  I-203-17356-299648   WITHDRAWN  ...             $140,000.00               Year
4  I-203-18008-577576   WITHDRAWN  ...             $180,000.00               Year

[5 rows x 11 columns]

In [6]:
cleaned['VISA_CLASS'].value_counts()

H-1B               649083
E-3 Australian      13087
H-1B1 Singapore      1291
H-1B1 Chile          1155
Name: VISA_CLASS, dtype: int64

In [7]:
# Visa class has many categories which are not of use , we require only H1B visa type , hence we drop all records with other visa types
cleaned.drop(labels=cleaned[cleaned['VISA_CLASS']!='H-1B'].index , inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [8]:
cleaned['CASE_STATUS'].value_counts()

CERTIFIED              578640
CERTIFIED-WITHDRAWN     46050
WITHDRAWN               19227
DENIED                   5166
Name: CASE_STATUS, dtype: int64

In [9]:
#As we want to only need accepted and denied cases we are dropping withdrawn from the data frame. 
#Case status of class certified-withdraw were certified earlier and later withdraw which can be considered a
cleaned.replace({"CASE_STATUS":"CERTIFIED-WITHDRAWN"},"CERTIFIED",inplace=True)
cleaned.drop(labels=cleaned[cleaned['CASE_STATUS']=='WITHDRAWN'].index , inplace=True)
cleaned.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

           CASE_NUMBER CASE_STATUS  ... WAGE_RATE_OF_PAY_FROM_1 WAGE_UNIT_OF_PAY_1
18  I-200-17250-072640   CERTIFIED  ...             $230,000.00               Year
19  I-200-18026-717110   CERTIFIED  ...             $107,000.00               Year
21  I-200-18039-081565   CERTIFIED  ...              $49,087.00               Year
22  I-200-18082-340860   CERTIFIED  ...             $172,930.00               Year
24  I-200-18162-689783   CERTIFIED  ...                  $33.00               Hour

[5 rows x 11 columns]

In [10]:
cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 629856 entries, 18 to 664616
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CASE_NUMBER              629855 non-null  object
 1   CASE_STATUS              629856 non-null  object
 2   CASE_SUBMITTED           629856 non-null  object
 3   DECISION_DATE            629856 non-null  object
 4   VISA_CLASS               629856 non-null  object
 5   JOB_TITLE                629856 non-null  object
 6   SOC_CODE                 629852 non-null  object
 7   SOC_TITLE                629852 non-null  object
 8   EMPLOYER_NAME            629848 non-null  object
 9   WAGE_RATE_OF_PAY_FROM_1  629852 non-null  object
 10  WAGE_UNIT_OF_PAY_1       629852 non-null  object
dtypes: object(11)
memory usage: 57.7+ MB

In [11]:
#the column wages has a mix of both string and float value types and some record have the symbol '$' which we want to remove
cleaned['WAGE_RATE_OF_PAY_FROM_1'].apply(type).value_counts()

<class 'float'>    460442
<class 'str'>      169414
Name: WAGE_RATE_OF_PAY_FROM_1, dtype: int64

In [0]:
def clean_wages(w):
    """ Function to remove '$' symbol and other delimiters from wages column which consistes of str and float type values
    if the column entry is string type then remove the symbols else return the column value as it is 
    """
    if isinstance(w, str):
        return(w.replace('$', '').replace(',', ''))
    return(w)

In [13]:
cleaned['WAGES']=cleaned['WAGE_RATE_OF_PAY_FROM_1'].apply(clean_wages).astype('float')
cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 629856 entries, 18 to 664616
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   CASE_NUMBER              629855 non-null  object
 1   CASE_STATUS              629856 non-null  object
 2   CASE_SUBMITTED           629856 non-null  object
 3   DECISION_DATE            629856 non-null  object
 4   VISA_CLASS               629856 non-null  object
 5   JOB_TITLE                629856 non-null  object
 6   SOC_CODE                 629852 non-null  object
 7   SOC_TITLE                629852 non-null  object
 8   EMPLOYER_NAME            629848 non-null  object
 9   WAGE_RATE_OF_PAY_FROM_1  629852 non-null  object
 10  WAGE_UNIT_OF_PAY_1       629852 non-null  object
 11  WAGES                    629852 non-null  float64
dtypes: float64(1), object(11)
memory usage: 62.5+ MB

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
# the wage information that we have available has different unit of pay
cleaned['WAGE_UNIT_OF_PAY_1'].value_counts()

Year         587386
Hour          41927
Month           342
Bi-Weekly       105
Week             92
Name: WAGE_UNIT_OF_PAY_1, dtype: int64

In [15]:
x=cleaned.loc[cleaned['WAGE_UNIT_OF_PAY_1']=="Month"]
x.head(2)

            CASE_NUMBER CASE_STATUS  ... WAGE_UNIT_OF_PAY_1   WAGES
818  I-200-18306-399497      DENIED  ...              Month  2000.0
826  I-200-18309-843479   CERTIFIED  ...              Month  2000.0

[2 rows x 12 columns]

In [16]:
# we convert the different units of pay to the type 'Year'
cleaned['WAGES'] = np.where(cleaned['WAGE_UNIT_OF_PAY_1'] == 'Month',cleaned['WAGES'] * 12,cleaned['WAGES'])
cleaned['WAGES'] = np.where(cleaned['WAGE_UNIT_OF_PAY_1'] == 'Hour',cleaned['WAGES'] * 2080,cleaned['WAGES']) # 2080=8 hours*5 days* 52 weeks
cleaned['WAGES'] = np.where(cleaned['WAGE_UNIT_OF_PAY_1'] == 'Bi-Weekly',cleaned['WAGES'] *26,cleaned['WAGES'])
cleaned['WAGES'] = np.where(cleaned['WAGE_UNIT_OF_PAY_1'] == 'Week',cleaned['WAGES'] * 52,cleaned['WAGES'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [17]:
#As we have got the information of Wages and made transformation we can drop the initial two records
cleaned.drop(columns=['WAGE_RATE_OF_PAY_FROM_1','WAGE_UNIT_OF_PAY_1'],axis=1,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [18]:
cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 629856 entries, 18 to 664616
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CASE_NUMBER     629855 non-null  object
 1   CASE_STATUS     629856 non-null  object
 2   CASE_SUBMITTED  629856 non-null  object
 3   DECISION_DATE   629856 non-null  object
 4   VISA_CLASS      629856 non-null  object
 5   JOB_TITLE       629856 non-null  object
 6   SOC_CODE        629852 non-null  object
 7   SOC_TITLE       629852 non-null  object
 8   EMPLOYER_NAME   629848 non-null  object
 9   WAGES           629852 non-null  float64
dtypes: float64(1), object(9)
memory usage: 52.9+ MB

In [19]:
"""
We should remove record that have null objects, from the above cell we see
that all columns don't have same number of non-null records
which means we have to remove the records that have the null values.
we see that there are about 17 records that have null values
""" 
null_rows = cleaned.isnull().any(axis=1)
print(cleaned[null_rows].shape)
print(cleaned.shape)

(17, 10)
(629856, 10)

In [20]:
cleaned.dropna(inplace=True)
print(cleaned.shape)

(629839, 10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
cleaned['JOB_TITLE'].value_counts()

SOFTWARE ENGINEER                                            33199
SOFTWARE DEVELOPER                                           33057
SENIOR SYSTEMS ANALYST JC60                                  12759
SENIOR SOFTWARE ENGINEER                                      8135
MANAGER JC50                                                  8118
                                                             ...
ASSOCIATE DIRECTOR OF PLAYER DEVELOPMENT/VIDEO OPERATIONS        1
MANAGING DIRECTOR-ASIA                                           1
CLINICAL LEAD LAB TECHNOLOGIST                                   1
ACCOUNT MANAGER, 1615.26884                                      1
SITE RELIABILITY ASSOCIATE ENGINEER                              1
Name: JOB_TITLE, Length: 108139, dtype: int64

In [2]:
#we see that the job title has integers in the record which we can remove
#removing comma also
cleaned['JOB_TITLE']=cleaned['JOB_TITLE'].str.replace('\d+', '')
cleaned['JOB_TITLE']=cleaned['JOB_TITLE'].str.replace(',', '')
cleaned.head()
cleaned['JOB_TITLE'].value_counts()

NameError: name 'cleaned' is not defined

In [ ]:
# code to check spelling
from textblob import TextBlob

def spelling_checker(job_title):
    
    b = TextBlob(job_title.lower())
    corrected = b.correct()
    return corrected
    
cleaned.JOB_TITLE.apply(lambda txt: " ".join([spelling_checker(i) for i in txt.split()]))
#df_spell.JOB_TITLE = df_spell['JOB_TITLE'].apply(spelling_checker)
cleaned['JOB_TITLE'].value_counts()

In [38]:
#code to clean and group the JOB_TITLE COLUMN
import nltk
nltk.download('wordnet')
lemmatizer = nltk.stem.WordNetLemmatizer()

def lemmatize_text(text):
    return lemmatizer.lemmatize(text)

cleaned['JOB_TITLE']=cleaned.JOB_TITLE.apply(lemmatize_text)
cleaned['JOB_TITLE'].value_counts()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

SOFTWARE ENGINEER                              33199
SOFTWARE DEVELOPER                             33057
SENIOR SYSTEMS ANALYST JC                      12759
SENIOR SOFTWARE ENGINEER                        8135
MANAGER JC                                      8118
                                               ...
RESEARCH ASSOCIATE THEORETICAL                     1
BUS INFO DEVELOPER                                 1
ELECTRICAL AND ELECTRONICS CONTROL ENGINEER        1
INSPECTION SPECIALIST                              1
ANALYST, IT RISK MANAGEMENT AND CONTROLS           1
Name: JOB_TITLE, Length: 98514, dtype: int64

In [39]:
grouped_wages=cleaned.groupby('JOB_TITLE', as_index=False).agg({'WAGES':'mean'})
op=grouped_wages.sort_values(by=['WAGES'],ascending=False)
X=op.loc[op['JOB_TITLE']=='SOFTWARE ENGINEER']
display(op)
display(X)

                                               JOB_TITLE        WAGES
67098    SENIOR APPLICATIONS ENGINEER - POWER MANAGEMENT  98847500.00
49032                     NURSE PRACTITIONERS (LICENSED)  97780945.60
82800                           SPECIALIST WEB DEVELOPER  74060709.00
14407                                           CHEMISTS  41649665.05
39032                            JR. DATA SCIENTIST (-.)  40303356.00
...                                                  ...          ...
95920                     VEHICLE SALES/SALES CONSULTANT     18720.00
18645  CUSTOMER SERVICE, ALL TASKS & DUTIES OF A NAIL...     18200.00
94677                              TRACK AND FIELD COACH     17040.00
41918                             LIVE STREAMING SERVICE     17000.00
33451                   HOME HEALTH & PERSONAL CARE AIDE     15912.00

[98514 rows x 2 columns]

               JOB_TITLE          WAGES
79916  SOFTWARE ENGINEER  112102.821495